// Color Palette
$white: #ffffff;
$grey: #374151;
$black: #111827;
$orange: #f97316;
$red: #ef4444;
$pink: #ec4899;
$yellow: #fbbf24;
$navy: #3c4367;
$blue: #3c85b5;


$gradient-orange: $orange;
$gradient-red: $red;
$gradient-pink: $pink;
$gradient-yellow: $yellow;

// Base Colors
$text-color: $grey;

// Menu Colors
$menu-bg: darken($navy, 10%);
$menu-link-color: $white;
$menu-link-bg: transparent;
$menu-link-hover-color: $white;
$menu-link-hover-bg: mix($menu-bg, $black, 80%);
$menu-link-active-color: $white;
$menu-link-active-bg: $orange;

// Podium Colors
$podium-gold-start: #facc15;
$podium-gold-end: #eab308;
$podium-silver-start: #d1d5db;
$podium-silver-end: #9ca3af;
$podium-bronze-start: #fb923c;
$podium-bronze-end: #f97316;

// Podium Dimensions
$podium-first-width: 35%;
$podium-second-width: 30%;
$podium-third-width: 30%;

$podium-first-height: 160px;
$podium-second-height: 120px;
$podium-third-height: 90px;

// Header Dimensions
$logo-max-width: 25rem;
$banner-right-width: 25%;
$banner-right-offset: -25%;

// Breakpoints (matching Tailwind)
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
